$color-primary: #188FFF;
$dark-primary: #0D76FF;
$light-primary: #21A5FF;

$color-success: #00d061;
$color-warning: #ffaa00;
$color-danger: #ff7b8b;
$color-info: #0b9eff;

$color-border:#e3e2e1;

$color-font: #333333;
$color-font2: #a5a5a5;
$color-font3 : #777777;
$color-font4 : #555555;
$color-font6: #000000;
